<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcy.party.dao.OrganizationerMapper">
    <resultMap type="com.zcy.party.domain.User" id="ormemInfo" >
        <id property="id" column="ormem_id"/>
        <result property="type" column="type"/>
        <result property="name" column="ormem_name"/>
    </resultMap>
    <resultMap id="getAllOrganizationerMapper" type="com.zcy.party.domain.Organizationer">
        <id property="ormem_acc" column="ormem_acc"/>
        <result property="ormem_pass" column="ormem_pass"/>
        <result property="ormem_name" column="ormem_name"/>
        <association property="school" column="xueyuan"
                     select="com.zcy.party.dao.SchoolMapper.getNameById"></association>
    </resultMap> 

<select id="verifyAccount" resultMap="ormemInfo">
    select ormem_id,ormem_name,type from organization_memery where ormem_acc=#{account} and ormem_pass=#{password};
</select>
    <select id="getNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select ormem_name from organization_memery where ormem_id = #{id};
    </select>
    <select id="getAllOrganizationer" resultMap="getAllOrganizationerMapper">
                select * from organization_memery;
    </select>
    <update id="updateInfo" parameterType="com.zcy.party.domain.Organizationer">
        update organization_memery set ormem_pass=#{ormem_pass},ormem_name=#{ormem_name},xueyuan=#{school}
        where ormem_acc=#{ormem_acc};
    </update>
    <delete id="deleteTeacher" parameterType="java.lang.String">
        delete from organization_memery where ormem_acc = #{account};
    </delete>
    <insert id="insertTeacher" parameterType="com.zcy.party.domain.Organizationer">
        insert into organization_memery(ormem_acc,ormem_pass,ormem_name,xueyuan) values(#{ormem_acc},#{ormem_pass},#{ormem_name},#{school});
    </insert>
</mapper>
