<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcy.party.dao.StudentMapper">
    <resultMap type="com.zcy.party.domain.User" id="userInfo" >
        <id property="id" column="stu_id"/>
        <result property="type" column="type"/>
        <result property="name" column="stu_name"/>
    </resultMap>
    <resultMap id="getStuByStuIDMapper" type="com.zcy.party.domain.Student">
        <id property="stu_id" column="stu_id"/>
        <result property="stu_grade" column="stu_grade"/>
        <result property="stu_pass" column="stu_pass"/>
        <result property="stu_name" column="stu_name"/>
        <result property="major" column="major"/>
        <association property="stu_orgamem" column="stu_orgamem"
                     select="com.zcy.party.dao.OrganizationerMapper.getNameById"></association>
        <association property="stu_school" column="stu_school"
                     select="com.zcy.party.dao.SchoolMapper.getNameById"></association>
        <collection property="grades" column="stu_id"
                    select="com.zcy.party.dao.GradeMapper.getAllGrade"></collection>

    </resultMap>
    <select id="verifyAccount" resultMap="userInfo">
        select stu_id,stu_name,type from student where stu_id = #{stu_id} and stu_pass=#{stu_pass};
    </select>
    <select id="getStuByStuID" parameterType="java.lang.String" resultMap="getStuByStuIDMapper">
        select * from student where stu_id=#{id};
    </select>
    <select id="getAllStudentInfo" resultMap="getStuByStuIDMapper">
        select * from student;
    </select>
    <delete id="deleteStudent" parameterType="java.lang.String">
        delete from student where stu_id = #{id};
    </delete>

    <update id="updateStudentById" parameterType="com.zcy.party.domain.Student">
        update student set stu_name=#{stu_name},stu_pass=#{stu_pass},stu_grade=#{stu_grade},stu_school=#{stu_school},major=#{major} where stu_id=#{stu_id};
    </update>
    <insert id="insertStudent" parameterType="com.zcy.party.domain.Student">
         insert into student(stu_id,stu_pass,stu_name,stu_grade,stu_school,major) values
                                                                                         (#{stu_id},#{stu_pass},
                                                                                         #{stu_name},#{stu_grade},
                                                                                         #{stu_school},#{major});
    </insert>

</mapper>
