<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcy.party.dao.StudentMapper">
    <resultMap type="com.zcy.party.domain.User" id="userInfo" >
        <id property="id" column="stu_id"/>
        <result property="type" column="type"/>
        <result property="name" column="stu_name"/>
    </resultMap>
<select id="verifyAccount" resultMap="userInfo">
    select stu_id,stu_name,type from student where stu_id = #{stu_id} and stu_pass=#{stu_pass};
</select>
    <insert id="insertGrade">
        insert into studentgrade(id,AnswerTimes,CorrectedNum,DisCorrectedNum,MinNum,MaxNum)
        values(#{id},#{AnswerTimes},#{CorrectedNum},#{DisCorrectedNum},#{MinNum},#{MaxNum});
    </insert>
</mapper>
